# Dependencies
/node_modules/

# Build
/build
/types
/bin

# System
.DS_Store

# Runtime
*.log

# IDE
.idea
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore all local history of files
**/.history

# Privacy
.env